@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Вопросы: */
/* 1. Секции: "заинтересовались", "подпишитесь" */
/* 2. Поле ввода e-mail и кнопка */

/* Заметки */
/* 1. Липкий футер: flex-grow="1" */
/* 2. 32 min: итог */
/* 3. Цвет привязать к порядковому номеру элемента (сервисы) */
/* 4. Transparent border? And try outline: -2px; */

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: black;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.page-header {
  color: #000000;
  background: #ffffff;
  padding: 0;
  margin: 0;
}

.logo {
  padding: 0;
  margin: 0;
}

.logo-image {
  padding: 0;
  margin: 0;
}

.navigation {
  padding: 0;
  margin: 0;
}

.navigation-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation-item {
  padding: 0;
  margin: 0;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}

.user-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user-menu-item {
  padding: 0;
  margin: 0;
}

.user-menu-item-button {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.site-search-button {
  padding: 0;
  margin: 0;
}

.favourites-button {
  padding: 0;
  margin: 0;
}

.favorites-count {
  padding: 0;
  margin: 0;
}

.inquiry-button {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  /* 180% */
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 34px;
  transition: background-color 0.2s ease;
  vertical-align: middle;
  margin: 0;
}

.inquiry-button:hover {
  background-color: #615048;
}

.main-index {
  padding: 0;
  margin: 0;
}

.hero {
  background-color: #8daab8;
  background-image: url("../images/index-background-divider.svg"), url("../images/hero-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  background-position: center bottom, center center;
  min-height: 485px;
  padding: 50px 50px 78px;
  box-sizing: border-box;
  margin: 0;
}

.hero-logo {
display: block;
margin: 0 auto;
}

.advantages {
  padding: 0;
  margin: 0;
}

.advantages-header {
  padding: 0;
  margin: 0;
}

.advantages-header-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  /* 120% */
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.advantages-header-description {
  font-size: 22px;
  line-height: 26px;
  /* 118.182% */
  color: #333333;
  padding: 0;
  margin: 0;
}

.advantages-list {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.advantages-item {
  background-color: #83B3D31F;
  padding: 0;
  margin: 0;
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  /* 116.667% */
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.advantages-item-description {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 116.667% */
  color: #333333;
  padding: 0;
  margin: 0;
}

.advantages-item-picture {
  padding: 0;
  margin: 0;
}

.advantages-item--pictured {
  background-color: #82B3D3;
}

.advantages-item--pictured .advantages-item-description {
  color: #ffffff;
}

.advantages-item--pictured .advantages-item-title {
  color: #ffffff;
}

.advantages-item--middle {
  background-color: #83B3D333;
}

.services {
  text-align: center;
  padding: 0;
  margin: 0;
}

.services-header {
  padding: 0;
  margin: 0;
}

.services-header-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  /* 120% */
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.services-header-description {
  font-size: 18px;
  line-height: 21px;
  /* 116.667% */
  color: #333333;
  padding: 0;
  margin: 0;
}

.services-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services-item {
  padding: 0;
  margin: 0;
}

.services-item--blue {
  background-color: #83B3D31F;
}

.services-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  /* 116.667% */
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.services-item-description {
  font-size: 18px;
  line-height: 21px;
  /* 116.667% */
  color: #333333;
  padding: 0;
  margin: 0;
}

.hotel-search {
  text-align: center;
  padding: 0;
  margin: 0;
}

.hotel-search-container {
  padding: 96px 304px;
  box-sizing: border-box;
}

.hotel-search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  /* 120% */
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 20px;
}

.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
  /* 118.182% */
  color: #333333;
  padding: 0;
  margin: 0 0 54px;
}

.hotel-search-button {
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  /* 180% */
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 50px;
  transition: background-color 0.2s ease;
  vertical-align: middle;
  margin: 0;
}

.hotel-search-button:hover {
  background-color: #615048;
}

.subscribe {
  text-align: center;
  margin: 0;
  padding: 0;
}

.subscribe-container {
  padding: 96px 258px 104px;
  margin: 0;
  min-height: 240px;
  box-sizing: border-box;
  /* display: block; */
}

.subscribe-title {
  padding: 0;
  margin: 0 0 21px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  /* 120% */
  text-transform: uppercase;

}

.subscribe-description {
  padding: 0;
  margin: 0 0 54px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  /* 118.182% */
}

.subscribe-form {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.subscribe-theme-custom {
  color: #ffffff;
  background-color: #8daab8;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height: 415px; */
}

.email-field {
  padding: 12px 20px;
  margin: 0;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  /* 133.333% */
  vertical-align: middle;
  text-align: left;
  border-width: 0;
  border-color: transparent;
  border-radius: 4px 0 0 4px;
  width: 445px;
  box-sizing: border-box;
  height: 52px;
}

.subscribe-button {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  /* 180% */
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  border-width: 0;
  border-radius: 0 4px 4px 0;
  border-color: transparent;
  padding: 8px 50px;
  transition: background-color 0.2s ease;
  vertical-align: middle;
  margin: 0;
  font-family: inherit;
  box-sizing: border-box;
  height: 52px;
}

.page-footer {
  padding: 0;
  margin: 0;
}

.socials {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.socials-item {
  padding: 0;
  margin: 0;
}

.socials-item-link {
  padding: 0;
  margin: 0;
}

.contacts {
  padding: 0;
  margin: 0;
}

.contacts-phone {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  /* 100% */
  text-transform: uppercase;
}

.developer_contacts {
  padding: 0;
  margin: 0;
}

.developer_contacts_link {
  padding: 0;
  margin: 0;
}

.developer_contacts_link_logo {
  padding: 0;
  margin: 0;
}
