@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* 1. Обнулить стили */
/* 2. Цвет фона перед картинкой */
/* 3. Липкий футер: flex-grow="1" */
/* 4. 32 min: итог */
/* Цвет привязать к порядковому номеру элемента (сервисы) */
/* Transparent border? And try outline: -2px; */

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: black;
  background-color: #ffffff;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 #00000033;
  padding: 0;
}

.page-header {
  color: #000000;
  background: #ffffff;
  padding: 0;
  margin: 0;
}

.logo {
  padding: 0;
  margin: 0;
}

.logo-image {
  padding: 0;
  margin: 0;
}

.navigation {
  padding: 0;
  margin: 0;
}

.navigation-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation-item {
  padding: 0;
  margin: 0;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}

.user-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user-menu-item {
  padding: 0;
  margin: 0;
}

.user-menu-item-button {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.site-search {
  background-image: url("../images/site-search-icon.svg");
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.favourites {
  padding: 0;
  margin: 0;
}

.favorites-count {
  padding: 0;
  margin: 0;
}

.inquiry {
  padding: 0;
  margin: 0;
}

.main-index {
  padding: 0;
  margin: 0;
}

.hero {
  background-color: #479db7;
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 485px;
  text-align: center;
  padding: 50px 50px 78px;
  box-sizing: border-box;

  margin: 0;
}

.advantages {
  padding: 0;
  margin: 0;
}

.advantages-header {
  padding: 0;
  margin: 0;
}

.advantages-header-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  /* 120% */
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.advantages-header-description {
  font-size: 22px;
  line-height: 26px;
  /* 118.182% */
  color: #333333;
  padding: 0;
  margin: 0;
}

.advantages-list {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.advantages-item {
  background-color: #83B3D31F;
  padding: 0;
  margin: 0;
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  /* 116.667% */
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.advantages-item-description {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 116.667% */
  color: #333333;
  padding: 0;
  margin: 0;
}

.advantages-item-picture {
  padding: 0;
  margin: 0;
}

.advantages-item--pictured {
  background-color: #82B3D3;
}

.advantages-item--pictured .advantages-item-description {
  color: #ffffff;
}

.advantages-item--pictured .advantages-item-title {
  color: #ffffff;
}

.advantages-item--middle {
  background-color: #83B3D333;
}

.services {
  text-align: center;
  padding: 0;
  margin: 0;
}

.services-header {
  padding: 0;
  margin: 0;
}

.services-header-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  /* 120% */
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.services-header-description {
  font-size: 18px;
  line-height: 21px;
  /* 116.667% */
  color: #333333;
  padding: 0;
  margin: 0;
}

.services-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services-item {
  padding: 0;
  margin: 0;
}

.services-item--blue {
  background-color: #83B3D31F;
}

.services-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  /* 116.667% */
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.services-item-description {
  font-size: 18px;
  line-height: 21px;
  /* 116.667% */
  color: #333333;
  padding: 0;
  margin: 0;
}

.hotel-search {
  text-align: center;
  padding: 0;
  margin: 0;
}

.hotel-search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  /* 120% */
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
  /* 118.182% */
  color: #333333;
  padding: 0;
  margin: 0;
}

.hotel-search-button {
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  /* 180% */
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 50px;
  transition: background-color 0.2s ease;
  vertical-align: middle;

  margin: 0;
}

.hotel-search-button:hover {
  background-color: #615048;
}

.subscription {
  padding: 0;
  margin: 0;
}

.subscription-title {
  padding: 0;
  margin: 0;
}

.subscription-description {
  padding: 0;
  margin: 0;
}

.subscription-form {
  padding: 0;
  margin: 0;
}

.email-field {
  padding: 0;
  margin: 0;
}

.subscription-button {
  padding: 0;
  margin: 0;
}

.page-footer {
  padding: 0;
  margin: 0;
}

.socials {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.socials-item {
  padding: 0;
  margin: 0;
}

.socials-item-link {
  padding: 0;
  margin: 0;
}

.contacts {
  padding: 0;
  margin: 0;
}

.contacts-phone {
  padding: 0;
  margin: 0;
}

.developer_contacts {
  padding: 0;
  margin: 0;
}

.developer_contacts_link {
  padding: 0;
  margin: 0;
}

.developer_contacts_link_logo {
  padding: 0;
  margin: 0;
}
