@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Вопросы: */
/* 2. Поле ввода e-mail и кнопка */
/* 4. Центровка текста по вертикали в "кнопках"(ссылках) с фиксированным размером с помощью line-height */

/* Заметки */
/* 1. Липкий футер: flex-grow="1" */
/* 2. 32 min: итог */
/* 3. Цвет привязать к порядковому номеру элемента (сервисы) */
/* 4. Transparent border? And try outline: -2px; */

/* Переполнения! Ограничить ширину + перенос + flex-start */
/* Убрать <br> */
/* Убрать <hr> */
/* .advantages-item-picture height: 100%; + object-fit: cover; */
/* SVG в картинку. li + псевдоэлемент */
/* Заинтересовались? В секцию, без контейнера. */
/* Телефон переносится по строкам. */
/* Пагинация: переполнение + паддинги + бордер-бокс */
/* Стилизация галочек и радио в конце видео от 06.11.23 */

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0 40px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: black;
  min-height: 100%;
  display: flex;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
  display: flex;
  flex-direction: column;
}

.page-header {
  color: #000000;
  background: #ffffff;
  padding: 0 70px;
  width: 1060px;
  margin: 0 auto;
}

.logo {
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
  /* position: absolute;
  top: 0;
  left: 0; */
}

.logo-image {
  padding: 0;
  margin: 0;
  position: absolute;
}

.navigation {
  /* padding: 0 70px 0 238px; */
  margin: 0 auto 0 168px;
  display: flex;
  box-sizing: border-box;
}

.navigation-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navigation-item {
  padding: 0;
  margin: 0;

}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  padding: 20px 16px;
  margin: 0;
  display: block;
  height: 64px;
  box-sizing: border-box;
}

.navigation-link:hover {
  background-color: #f2f2f2;
}

.navigation-link--current {

}

.user-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.user-menu-item {
  padding: 0;
  margin: 0;
}

.user-menu-item-button {
  padding: 22px 12px;
  margin: 0;
  display: block;
  height: 64px;
  box-sizing: border-box;
}

.user-menu-item-button:hover {
  background-color: #f2f2f2;
}

.user-menu-item-svg {
  height: 20px;
  width: 20px;
}

.site-search-button {}

.favourites-button {
  position: relative;
}

.favorites-count {
  position: absolute;
  top: 11px;
  right: 4px;
  background-color: #7DB54F;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  line-height: 10px;
}

.button-basic {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  /* 180% */
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 50px;
  transition: background-color 0.2s ease;
  vertical-align: middle;
  margin: 0;
}

.button-basic:hover {
  background-color: #615048;
}

.inquiry-button {
  padding: 8px 34px;
  margin-left: 20px;
  width: 160px;
  box-sizing: border-box;
}

.main-index {
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.hero {
  background-color: #8daab8;
  background-image: url("../images/index-background-divider.svg"), url("../images/hero-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  background-position: center bottom, center center;
  min-height: 485px;
  padding: 50px 50px 78px;
  box-sizing: border-box;
  margin: 0;
}

.hero-logo {
  display: block;
  margin: 0 auto;
}

.advantages {
  padding: 0;
  margin: 0;
  text-align: center;
}

.advantages-header {
  padding: 69px 0;
  margin: 0;
}

.advantages-header-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  /* 120% */
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.advantages-header-description {
  font-size: 22px;
  line-height: 26px;
  /* 118.182% */
  color: #333333;
  padding: 0;
  margin: 0;
}

.advantages-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 21px;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  background-color: #83B3D31F;
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 385px;
}

.advantages-item--pictured {
  background-color: #82B3D3;
  /* flex-direction: row; */
}

.advantages-item-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 385px;
  padding: 102px 85px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  box-sizing: border-box;
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  /* 116.667% */
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  text-align: center;
}

.advantages-item-divider {
  padding: 0;
  margin: 0 auto;
  border: none;
  background-color: rgba(0, 0, 0, 0.30);
  height: 2px;
  width: 60px;
  display: block;
}

.advantages-item-description {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 116.667% */
  color: #333333;
  padding: 0;
  margin: 0;
}

.advantages-item-picture {
  padding: 0;
  margin: 0;
}



.advantages-item--pictured .advantages-item-description {
  color: #ffffff;
}

.advantages-item--pictured .advantages-item-title {
  color: #ffffff;
}

.advantages-item--pictured .advantages-item-divider {
  background-color: rgba(255, 255, 255, 0.30);
}

.advantages-item--middle {
  background-color: #83B3D333;
}

.services {
  text-align: center;
  padding: 0;
  margin: 0;
}

.services-header {
  margin: 0;
  display: flex;
  padding: 64px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* align-self: stretch; */
}

.services-header-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  /* 120% */
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.services-header-description {
  font-size: 22px;
  line-height: 26px;
  /* 116.667% */
  color: #333333;
  padding: 0;
  margin: 0;
}

.services-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.services-item {
  padding: 79px 85px;
  margin: 0;
  display: flex;
  width: 400px;
  min-height: 385px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.services-item--blue {
  background-color: #83B3D31F;
}

.services-item-svg {
  /* width: 75px;
  height: 72px; */
}

.services-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  /* 116.667% */
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.services-item-description {
  font-size: 18px;
  line-height: 21px;
  /* 116.667% */
  color: #333333;
  padding: 0;
  margin: 0;
}

.hotel-search {
  text-align: center;
  padding: 0;
  margin: 0;
}

.hotel-search-container {
  padding: 96px 304px;
  box-sizing: border-box;
}

.hotel-search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  /* 120% */
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 20px;
}

.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
  /* 118.182% */
  color: #333333;
  padding: 0;
  margin: 0 0 54px;
}

.hotel-search-button {
  font-size: 20px;
  line-height: 36px;
  /* 180% */
  margin: 0;
}

/* .hotel-search-button:hover {
  background-color: #615048;
} */

.subscribe {
  text-align: center;
  margin: 0;
  padding: 0;
}

.subscribe-container {
  padding: 96px 258px 104px;
  margin: 0;
  min-height: 240px;
  box-sizing: border-box;
  /* display: block; */
}

.subscribe-title {
  padding: 0;
  margin: 0 0 21px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  /* 120% */
  text-transform: uppercase;

}

.subscribe-description {
  padding: 0;
  margin: 0 0 54px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  /* 118.182% */
}

.subscribe-form {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.subscribe-theme-custom {
  color: #ffffff;
  background-color: #8daab8;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height: 415px; */
}

.email-field {
  padding: 12px 20px;
  margin: 0;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  /* 133.333% */
  vertical-align: middle;
  text-align: left;
  border-width: 0;
  border-color: transparent;
  border-radius: 4px 0 0 4px;
  width: 445px;
  box-sizing: border-box;
  height: 52px;
  background-color: #F2F2F2;
}

.subscribe-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  /* 180% */
  background-color: #82B3D3;
  border-width: 0;
  border-radius: 0 4px 4px 0;
  font-family: inherit;
  box-sizing: border-box;
  height: 52px;
}

.subscribe-button:hover {
  background-color: #68A2CA;
}

.page-footer {
  padding: 40px 70px 30px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  box-sizing: border-box;
}

.socials {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 142px;
}

.socials-item {
  padding: 0;
  margin: 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-item-link {
  padding: 0 10px;
  margin: 0;
  display: flex;
  align-items: center;
  height: 40px;
  box-sizing: border-box;

}

.socials-item-svg {
  /* max-height: 100%;
  max-width: 100%; */
}

.contacts {
  padding: 5px 195px 5px 194px;
  margin: 0;
  min-height: 40px;
}

.contacts-phone {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  /* 100% */
  text-transform: uppercase;
}

.developer_contacts {
  padding: 0;
  margin: 0;

}

.developer_contacts_link {
  padding: 0;
  margin: 0;
}

.developer_contacts_link_logo {
  padding: 0;
  margin: auto 0;
  display: block;
}

.main-inner {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.filter {
  background-color: #8daab8;
  background-image: url("../images/filter-background.jpg");
  margin: 0;
  padding: 35px 70px 70px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 412px;

}

.filter-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.filter-header {
  margin: 0 0 40px 0;
  padding: 0;

}

.filter-title {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  /* 130% */
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  gap: 10px;
}

.breadcrumbs-item {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  /* 131.25% */
}

.breadcrumbs-link {
  margin: 0;
  padding: 0;
}

.breadcrumbs-divider {
  margin: 0;
  padding: 0;
}

.active {
  margin: 0;
  padding: 0;
}

.filter-form {
  margin: 0;
  padding: 0;
  display: inline-flex;
}

.filter-fieldset {
  margin: 0;
  padding: 0;
}

.filter-fieldset-title {
  margin: 0;
  padding: 0;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-list-item {
  margin: 0;
  padding: 0;
}

.control {
  margin: 0;
  padding: 0;
}

.control-input {
  margin: 0;
  padding: 0;
}

.range {
  margin: 0;
  padding: 0;
}

.range-input {
  margin: 0;
  padding: 0;
}

.input-text-right {
  margin: 0;
  padding: 0;
}

.ranges {
  margin: 0;
  padding: 0;
}

.filter-apply {
  margin: 0;
  padding: 0;
}

.filter-reset {
  margin: 0;
  padding: 0;
}

.results {
  margin: 0;
  padding: 50px 70px 60px;
  box-sizing: border-box;
}

.results-header {
  margin: 0 0 40px;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  /* 120% */
  text-transform: uppercase;
}

.results-count {
  margin: 0;
  padding: 0;

}

.results-sorting {
  margin: 0 70px 0 0;
  padding: 0;

}

.view-mode-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  gap: 8px;
}

.view-mode-option {
  margin: 0;
  padding: 0;
}

.view-mode-button {
  margin: 0;
  padding: 14px 12px;
  border: #E5E5E5 solid 2px;
  border-radius: 4px;
  box-sizing: border-box;
}

.view-mode-button--grid {}

.view-mode-button--extended {}

.view-mode-button--list {}

.view-mode-button--selected {
  border-color: #000000;
}

.product-list {
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  border: solid #e6e6e6 1px;
  border-radius: 4px;
  min-height: 438px;
  width: 340px;
}

.product-card-link {
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.product-card-image {
  margin: 0 0 16px;
  padding: 0;
}

.product-card-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  /* 116.667% */
  display: inline;
}

.product-type-and-price {
  margin: 0;
  padding: 0;
  color: #333333;
}

.product-type {
  margin: 0;
  padding: 0;

  /* 116.667% */
}

.product-min-price {
  margin: 0;
  padding: 0;
}

.product-buttons {}

.product-button {
  display: inline-block;
}

.product-button-favorites {
  background-color: #82B3D3;
  display: inline-block;
}

.product-button-favorites:hover {
  background-color: #68A2CA;
}

.stars {
  margin: 0;
  padding: 0;
}

.stars-four {
  margin: 0;
  padding: 0;
}

.rating {}

.rating-text {
  display: inline-block;
  width: 140px;
  height: 37px;
  font-size: 16px;
  font-weight: 400;
  line-height: 37px;
  /* 180% */
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
  text-align: center;
  margin: 0;
}


.favourite-item {
  background-color: #7DB54F;
}

.favourite-item:hover {
  background-color: #6C9E42;
}

.stars-three {
  margin: 0;
  padding: 0;
}

.stars-two {
  margin: 0;
  padding: 0;
}

.pagination-divider {
  border: none;
  background-color: #E6E6E6;
  height: 1px;
  width: 100%;
}

.pagination {
  margin: 40px 0 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  gap: 8px;
}

.pagination-item {
  margin: 0;
  padding: 0;
}

.pagination-link {
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
  /* 180% */
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  transition: background-color 0.2s ease;
  text-align: center;
  margin: 0;
}

.pagination-link--current {
  background-color: #F2F2F2;
  color: #000000;
}

.ellipsis {
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  line-height: 60px;
  /* 180% */
  text-transform: uppercase;
  color: #000000;
  border-radius: 4px;
  background-color: transparent;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: 0;
}
